/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  background-color: #fff;
}

/*
 * Base structure
 */

body {
  background-color: #CF0E37; /*#E60F3D;*/
}

  body.dark-theme {
    background-color: #C23B23;
  }
