/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  background-color: #fff;
}

/*
 * Base structure
 */

body {
  background-color: #CF0E37; /*#E60F3D;*/
}

  body.dark-theme {
    background-color: #C23B23;
    color: #FFF8DC;
  }

body p a,
body p a:focus {
  color: #FFFF66;
  text-decoration: none;
}

body p a:hover {
  color: #FFFF66;
  text-decoration: underline;
}
