/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  background-color: #fff;
}

/*
 * Base structure
 */

html,
body {
  background-color: #c8b8fa; /* #E60F3D; */
}

/*
 * Adjust header & footer
 */

@media {
	/* Set header and footer to static */ 
	.masthead {
		position: fixed;
		background-color: #c8b8fa;
	}
	.mastfoot {
		position: static;
	}
}