/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  background-color: transparent;
}

/*
 * Base structure
 */

body {
  background-color: #0FC7E6;
}

  body.dark-theme {
    background-color: #779ECB;
  }
