/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  background-color: #fff;
}

/*
 * Base structure
 */

body {
  background-color: #4E4;
}

  body.dark-theme {
    background-color: #269926;
  }
