/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
	color: #fff;
	text-decoration: none;
	transition: all .25s ease-in-out;
}

	a.icon:hover {
		text-decoration: none;
	}

/* custom default button */
.btn-default {
	color: #333;
	transition: all .25s ease-in-out;
	text-shadow: none;
	border: 1px solid #fff;
}

.btn-default:hover,
.btn-default:focus {
	color: #fff;
}

.btn {
	color: #333;
}

/*
 * Base structure
 */

html,
body {
	height: 100%;
	font-family: Helvetica, sans-serif;
}
body {
	color: #fff;
	text-align: justify !important;
	text-shadow: 0 1px 3px rgba(0,0,0,.1);
	transition: all .25s ease-in-out;
}
body {
	background-attachment: scroll;
	background-size: 100%;
	background-repeat: no-repeat;
	/*-webkit-user-select: none;  /* Chrome all / Safari all */
	/*-moz-user-select: none;     /* Firefox all */
	/*-ms-user-select: none;      /* IE 10+ */
	/*user-select: none;          /* Likely future */
}

::selection {
	background-color: #fff;
}

/*
 * List
 */

ul.icons {
	cursor: default;
  padding-left: 0;
}

	ul.icons li {
		display: inline-block;
		line-height: 1em;
		padding-left: 1em;
	}

ul btn:hover {
	cursor: pointer;
}

/*
 * Icons
 */

.icon {
	position: relative;
	transition: all .25s ease-in-out;
	text-decoration: none;
	font-size: x-large;
}

	.icon:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}

	.icon:hover {
		color: black;
	}

	.icon.fa-github-alt {

	}

	.icon.fa-linkedin {

	}

	.icon.fa-sun {
		color: white;
		text-decoration: none;
	}

		.icon.fa-sun:hover {
			color: black;
		}

		.icon.fa-sun:active {

		}

	.svg-link {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		width: 24px;
		height: 24px;
	}

	.mpa-logo {
		transform: translateY(4px);
		transition: all .25s ease-in-out;
		fill: white;
		width: 100%;
		height: 100%;
	}

		.mpa-logo:hover {
			fill: black;
		}


/*
 * Header
 */

.masthead-brand > a {
	text-decoration: none;
	/*-webkit-user-select: none;  /* Chrome all / Safari all */
	/*-moz-user-select: none;     /* Firefox all */
	/*-ms-user-select: none;      /* IE 10+ */
	/*user-select: none;          /* Likely future */
	transition: all .25s ease-in-out;
}

.masthead-nav > ul {
	display: block;
	text-align: right;
}

.masthead-nav > li {
	display: inline-block;
}
.masthead-nav > li + li {
	margin-left: 20px;
}
.masthead-nav > li > a {
	padding-left: 0;
	padding-right: 0;
	font-size: 16px;
	font-weight: bold;
	color: rgba(255,255,255,.75);
	transition: all .25s ease-in-out;
	/*-webkit-user-select: none;  /* Chrome all / Safari all */
	/*-moz-user-select: none;     /* Firefox all */
	/*-ms-user-select: none;      /* IE 10+ */
	/*user-select: none;          /* Likely future */
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
	background-color: transparent;
	color: rgba(0,0,0,0.55);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
	color: rgba(0,0,0,0.65);
}

.masthead-brand {
	float: left;
}
.masthead-nav {
	float: right;
}

/*
 * dark theme
 */

 body.dark-theme {
 	color: #333;
 }

 	body.dark-theme .icon {
		color: black;
	}

	body.dark-theme .icon:hover {
		color: white;
	}

	body.dark-theme .btn,
	body.dark-theme .btn-default {
		color: #fff;
		background-color: #333;
	}

	body.dark-theme .btn-default:hover,
	body.dark-theme .btn-default:focus {
		color: #333;
	}

	body.dark-theme .masthead-brand > a {
		color: black;
	}
	body.dark-theme .masthead-nav > li > a {
		color: rgba(0,0,0,.75);
	}

	body.dark-theme .masthead-nav > li > a:hover,
	body.dark-theme .masthead-nav > li > a:focus {
		color: rgba(255,255,255,0.55);
	}

	body.dark-theme .masthead-nav > .active > a,
	body.dark-theme .masthead-nav > .active > a:hover,
	body.dark-theme .masthead-nav > .active > a:focus {
		color: rgba(255,255,255,0.65);
	}

	body.dark-theme .mpa-logo {
		fill: black;
	}

	body.dark-theme .mpa-logo:hover {
		fill: white;
	}


/*
 * Cover
 */

.cover {
	padding: 0 20px;
}
.btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
	color: rgba(255,255,255,.5);
	text-align: center;
	transition: all .25s ease-in-out;
	width: 100%;
}

/*
 * Affix and center
 */
.masthead {
	transition: all .25s ease-in-out;
}
