<div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand"><a href="">colin ford</a></h3>
                        <ul class="nav masthead-nav">
                            <li><a href="./projects/projects.html">projects</a></li>
                            <li><a href="./library/library.html">library</a></li>
                            <li><a href="./about/about.html">about</a></li>
                        </ul>
                    </div>
                </div>
