---
layout: blogpage
title: blog
---

<div class="row justify-content-center">
	<!-- LHS -->
	<div class="col-md-3 ms-auto">
		<h2 class="blog-heading ps-5">my blog</h2>
		{% for tag in site.tags %}
		{% endfor %}
	</div>
	<!-- RHS -->
	<div class="col-md-6 me-auto scrollbar">
		<ul class="list-unstyled">
			{% for post in site.posts %}
			<li class="container postprevbox">
				<a class="postprevlink" href="{{ post.url }}">
					<h3>{{ post.title }}</h3>
					<p class="lead">{{ post.excerpt | strip_html | truncatewords:30 }}</p>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
