<!DOCTYPE html>
<html lang="en">

{% include head.html %}
	<body style="">
		<div class="container-fluid">
			{% include masthead.html %}
			<div class="row container-fluid gx-3 justify-content-center mt-1 mb-3">
				<div class="col-3">
					<a class="btn btn-default btn-lg" href="{{ site.baseurl }}/blog/blog.html" role="button">back to blog</a>
				</div>
				<div class="col-3 blogtitle d-flex align-items-center justify-content-end">
					<h2>{{ page.title }}</h2>
				</div>
			</div>
			<div class="row container justify-content-center my-5 mx-auto">
				<div class="blogpost col col-lg-7">
					{{ content }}
				</div>
			</div>
			{% include mastfoot.html %}
		</div>
	</body>
</html>
